Twitter-HERE.json
[{"id":"ba50e24d.4dc73","type":"tab","label":"Twitter HERE","disabled":false,"info":""},{"id":"6a5fc5c1.3309cc","type":"http request","z":"ba50e24d.4dc73","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://geocode.search.hereapi.com/v1/geocode?q={{{query}}}&apiKey={{{apiKey}}}","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":220,"wires":[["e71a721f.452e6"]]},{"id":"326d2bc5.925b74","type":"debug","z":"ba50e24d.4dc73","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":850,"y":60,"wires":[]},{"id":"9454b399.388e6","type":"change","z":"ba50e24d.4dc73","name":"","rules":[{"t":"set","p":"query","pt":"msg","to":"payload.user.location","tot":"msg"},{"t":"set","p":"username","pt":"msg","to":"payload.user.screen_name","tot":"msg"},{"t":"set","p":"text","pt":"msg","to":"payload.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":140,"wires":[["91664215.b8728"]]},{"id":"e71a721f.452e6","type":"json","z":"ba50e24d.4dc73","name":"","property":"payload","action":"","pretty":false,"x":690,"y":140,"wires":[["326d2bc5.925b74","f18bc37d.e6c7b"]]},{"id":"91664215.b8728","type":"switch","z":"ba50e24d.4dc73","name":"","property":"query","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":140,"wires":[["6a5fc5c1.3309cc"]]},{"id":"de018f51.1d06f","type":"debug","z":"ba50e24d.4dc73","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1110,"y":200,"wires":[]},{"id":"f18bc37d.e6c7b","type":"change","z":"ba50e24d.4dc73","name":"","rules":[{"t":"set","p":"lng","pt":"msg","to":"payload.items[0].position.lng","tot":"msg"},{"t":"set","p":"lat","pt":"msg","to":"payload.items[0].position.lat","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":220,"wires":[["51abdc64.923d94"]]},{"id":"81877b5c.98b998","type":"template","z":"ba50e24d.4dc73","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"action\": \"point\", \n\"lat\": \"0.60634\", \n\"lon\": \"-0.66580\", \n\"point\": \"Jason,male,gps\" \n}","output":"json","x":1060,"y":520,"wires":[["db8f3bc9.09c7a8"]]},{"id":"a071e7a1.5a5d58","type":"inject","z":"ba50e24d.4dc73","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":660,"y":520,"wires":[["81877b5c.98b998"]]},{"id":"2ccffc1b.461064","type":"template","z":"ba50e24d.4dc73","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"command\" : \n    { \"grid\" : {\n        \"showgrid\": true,\n        \"opt\": { \n            \"showLabel\":true, \n            \"dashArray\":[5, 5], \n            \"fontColor\":\"#900\" \n            }\n        }\n    }\n}","output":"json","x":1060,"y":620,"wires":[["db8f3bc9.09c7a8"]]},{"id":"a19f8e5a.a207d","type":"inject","z":"ba50e24d.4dc73","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":660,"y":620,"wires":[["2ccffc1b.461064"]]},{"id":"c1c59699.697f18","type":"inject","z":"ba50e24d.4dc73","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":670,"y":400,"wires":[["7ca399da.1e9268"]]},{"id":"51abdc64.923d94","type":"template","z":"ba50e24d.4dc73","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"name\":\"{{username}}\",\n\"icon\":\"twitter-square\",\n\"lat\": {{lat}}0,\n\"lon\": {{lng}}0,\n\"tweet\":\"{{text}}\"\n}","output":"json","x":1060,"y":300,"wires":[["db8f3bc9.09c7a8","de018f51.1d06f"]]},{"id":"7ca399da.1e9268","type":"change","z":"ba50e24d.4dc73","name":"","rules":[{"t":"set","p":"lat","pt":"msg","to":"$random()*2","tot":"jsonata"},{"t":"set","p":"name","pt":"msg","to":"bob","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":400,"wires":[["51abdc64.923d94"]]},{"id":"d1f307fa.24b6a8","type":"inject","z":"ba50e24d.4dc73","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":670,"y":300,"wires":[["ee0e8886.ce71e8"]]},{"id":"ee0e8886.ce71e8","type":"change","z":"ba50e24d.4dc73","name":"","rules":[{"t":"set","p":"lng","pt":"msg","to":"$random()*2","tot":"jsonata"},{"t":"set","p":"name","pt":"msg","to":"alice","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":300,"wires":[["51abdc64.923d94"]]},{"id":"7cd891b6.45dd1","type":"Twitter Stream","z":"ba50e24d.4dc73","connection":"73aa1b40.6cd7b4","follow":"","topics":"fall guys","tweetLimit":"1","onlyVerified":false,"topicRetweets":false,"loadMedia":false,"topicLanguage":"en,de","debug":false,"name":"","x":130,"y":60,"wires":[["9454b399.388e6"]]},{"id":"db8f3bc9.09c7a8","type":"worldmap","z":"ba50e24d.4dc73","name":"","lat":"0","lon":"0","zoom":"7","layer":"OSM","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","path":"/worldmap","x":1280,"y":380,"wires":[]},{"id":"73aa1b40.6cd7b4","type":"twitter-api-connection","z":"","consumerKey":"","consumerSecret":"","accessToken":"","accessSecret":""}]
