Twitter-HERE.json
[{"id":"f419266f.78dc1","type":"tab","label":"Twitter HERE","disabled":false,"info":""},{"id":"a1e39160.ac30b8","type":"http request","z":"f419266f.78dc1","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://geocode.search.hereapi.com/v1/geocode?q={{{query}}}&apiKey=eJtOWcz0rG2MovFXxmEZOBji86azNK035at5rNDx5xg","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":220,"wires":[["2f9513f2.231cac"]]},{"id":"c8c37801.48f828","type":"debug","z":"f419266f.78dc1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":850,"y":60,"wires":[]},{"id":"75366ff5.598d2","type":"change","z":"f419266f.78dc1","name":"","rules":[{"t":"set","p":"query","pt":"msg","to":"payload.user.location","tot":"msg"},{"t":"set","p":"username","pt":"msg","to":"payload.user.screen_name","tot":"msg"},{"t":"set","p":"text","pt":"msg","to":"payload.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":140,"wires":[["b054f8d4.6524e"]]},{"id":"ad28205e.dd84a","type":"Twitter Stream","z":"f419266f.78dc1","connection":"d0ed5051.ea2f","follow":"","topics":"fall guys","tweetLimit":"1","onlyVerified":false,"topicRetweets":false,"loadMedia":false,"topicLanguage":"en,de","debug":false,"name":"","x":130,"y":60,"wires":[["75366ff5.598d2"]]},{"id":"2f9513f2.231cac","type":"json","z":"f419266f.78dc1","name":"","property":"payload","action":"","pretty":false,"x":690,"y":140,"wires":[["c8c37801.48f828","3f1df36e.56a404"]]},{"id":"b054f8d4.6524e","type":"switch","z":"f419266f.78dc1","name":"","property":"query","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":140,"wires":[["a1e39160.ac30b8"]]},{"id":"5e50e308.ba0a44","type":"debug","z":"f419266f.78dc1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1110,"y":200,"wires":[]},{"id":"3f1df36e.56a404","type":"change","z":"f419266f.78dc1","name":"","rules":[{"t":"set","p":"lng","pt":"msg","to":"payload.items[0].position.lng","tot":"msg"},{"t":"set","p":"lat","pt":"msg","to":"payload.items[0].position.lat","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":220,"wires":[["57fd22f9.a0f31c"]]},{"id":"f932fdf1.d31d4","type":"template","z":"f419266f.78dc1","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"action\": \"point\", \n\"lat\": \"0.60634\", \n\"lon\": \"-0.66580\", \n\"point\": \"Jason,male,gps\" \n}","output":"json","x":1060,"y":520,"wires":[["9b57569c.561898"]]},{"id":"ad861bfa.de8d48","type":"inject","z":"f419266f.78dc1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":660,"y":520,"wires":[["f932fdf1.d31d4"]]},{"id":"9a83d7ef.2b6ed8","type":"template","z":"f419266f.78dc1","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"command\" : \n    { \"grid\" : {\n        \"showgrid\": true,\n        \"opt\": { \n            \"showLabel\":true, \n            \"dashArray\":[5, 5], \n            \"fontColor\":\"#900\" \n            }\n        }\n    }\n}","output":"json","x":1060,"y":620,"wires":[["9b57569c.561898"]]},{"id":"f8928eb3.95b7d","type":"inject","z":"f419266f.78dc1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":660,"y":620,"wires":[["9a83d7ef.2b6ed8"]]},{"id":"73832e35.f8cfd8","type":"inject","z":"f419266f.78dc1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":670,"y":400,"wires":[["c9a85cfa.9697d"]]},{"id":"57fd22f9.a0f31c","type":"template","z":"f419266f.78dc1","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"name\":\"{{username}}\",\n\"icon\":\"twitter-square\",\n\"lat\": {{lat}}0,\n\"lon\": {{lng}}0,\n\"tweet\":\"{{text}}\"\n}","output":"json","x":1060,"y":300,"wires":[["9b57569c.561898","5e50e308.ba0a44"]]},{"id":"c9a85cfa.9697d","type":"change","z":"f419266f.78dc1","name":"","rules":[{"t":"set","p":"lat","pt":"msg","to":"$random()*2","tot":"jsonata"},{"t":"set","p":"name","pt":"msg","to":"bob","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":400,"wires":[["57fd22f9.a0f31c"]]},{"id":"f26e0653.e46368","type":"inject","z":"f419266f.78dc1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":670,"y":300,"wires":[["a525f7b0.b95c48"]]},{"id":"a525f7b0.b95c48","type":"change","z":"f419266f.78dc1","name":"","rules":[{"t":"set","p":"lng","pt":"msg","to":"$random()*2","tot":"jsonata"},{"t":"set","p":"name","pt":"msg","to":"alice","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":300,"wires":[["57fd22f9.a0f31c"]]},{"id":"9b57569c.561898","type":"worldmap","z":"f419266f.78dc1","name":"","lat":"0","lon":"0","zoom":"7","layer":"OSM","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","path":"/worldmap","x":1280,"y":380,"wires":[]},{"id":"d0ed5051.ea2f","type":"twitter-api-connection","z":"","consumerKey":"2EnKmTc1aClxETtwZlPpmrtmt","consumerSecret":"7pdWhIrMZYI0Eyn55O5DmKz8cmybURKHcRmQGwFk8JpxaXELMJ","accessToken":"1236656135916175360-xSNBlkwgIdJXJHCjEuKs7QNC7hiv8t","accessSecret":"FSdw2Mnm1gKb7A9lGSqCXx8eyjhm9aOkkBQa1zxBKvQGG"}]
