Twitter-HERE.json
[{"id":"d8c8d6cd.11b7c8","type":"tab","label":"Twitter HERE","disabled":false,"info":""},{"id":"6be82a97.171834","type":"http request","z":"d8c8d6cd.11b7c8","name":"","method":"GET","ret":"txt","url":"https://geocode.search.hereapi.com/v1/geocode?q={{{query}}}&apiKey={{{hereapikey}}}","tls":"","x":570,"y":220,"wires":[["eaf98123.dabc"]]},{"id":"ac119c7f.8514c","type":"debug","z":"d8c8d6cd.11b7c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":850,"y":60,"wires":[]},{"id":"d70afa22.0f5338","type":"change","z":"d8c8d6cd.11b7c8","name":"","rules":[{"t":"set","p":"query","pt":"msg","to":"payload.user.location","tot":"msg"},{"t":"set","p":"username","pt":"msg","to":"payload.user.screen_name","tot":"msg"},{"t":"set","p":"text","pt":"msg","to":"payload.text","tot":"msg"},{"t":"set","p":"hereapikey","pt":"flow","to":"eJtOWcz0rG2MovFXxmEZOBji86azNK035at5rNDx5xg","tot":"str"},{"t":"set","p":"hereapikey","pt":"msg","to":"hereapikey","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":140,"wires":[["7d65075.42950f8"]]},{"id":"eaf98123.dabc","type":"json","z":"d8c8d6cd.11b7c8","name":"","property":"payload","action":"","pretty":false,"x":690,"y":140,"wires":[["ac119c7f.8514c","b88bf671.fd9db8"]]},{"id":"7d65075.42950f8","type":"switch","z":"d8c8d6cd.11b7c8","name":"","property":"query","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":140,"wires":[["6be82a97.171834"]]},{"id":"8786f2d5.cb233","type":"debug","z":"d8c8d6cd.11b7c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1110,"y":200,"wires":[]},{"id":"b88bf671.fd9db8","type":"change","z":"d8c8d6cd.11b7c8","name":"","rules":[{"t":"set","p":"lng","pt":"msg","to":"payload.items[0].position.lng","tot":"msg"},{"t":"set","p":"lat","pt":"msg","to":"payload.items[0].position.lat","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":220,"wires":[["20cc8585.2de38a"]]},{"id":"7f120ceb.16b514","type":"template","z":"d8c8d6cd.11b7c8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"command\" : \n    { \"grid\" : {\n        \"showgrid\": true,\n        \"opt\": { \n            \"showLabel\":true, \n            \"dashArray\":[5, 5], \n            \"fontColor\":\"#900\" \n            }\n        }\n    }\n}","output":"json","x":1060,"y":460,"wires":[["92686d4b.1301e"]]},{"id":"3c5a61f2.4129be","type":"inject","z":"d8c8d6cd.11b7c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":460,"wires":[["7f120ceb.16b514"]]},{"id":"20cc8585.2de38a","type":"template","z":"d8c8d6cd.11b7c8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"name\":\"{{username}}\",\n\"icon\":\"twitter-square\",\n\"lat\": {{lat}},\n\"lon\": {{lng}},\n\"tweet\":\"{{text}}\"\n}","output":"json","x":1060,"y":300,"wires":[["92686d4b.1301e","8786f2d5.cb233"]]},{"id":"5b692ff1.76652","type":"inject","z":"d8c8d6cd.11b7c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"6","crontab":"","once":false,"onceDelay":0.1,"x":850,"y":300,"wires":[["20cc8585.2de38a"]]},{"id":"7171a6d9.365378","type":"Twitter Stream","z":"d8c8d6cd.11b7c8","connection":"97a23608.85a9f8","follow":"","topics":"fall guys","tweetLimit":"1","onlyVerified":false,"topicRetweets":false,"loadMedia":false,"topicLanguage":"en,de","debug":false,"name":"","x":130,"y":60,"wires":[["d70afa22.0f5338"]]},{"id":"92686d4b.1301e","type":"worldmap","z":"d8c8d6cd.11b7c8","name":"","lat":"26.3337253","lon":"12.2912532","zoom":"3","layer":"OSM","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","path":"/worldmap","x":1280,"y":380,"wires":[]},{"id":"97a23608.85a9f8","type":"twitter-api-connection","z":"","consumerKey":"2EnKmTc1aClxETtwZlPpmrtmt","consumerSecret":"7pdWhIrMZYI0Eyn55O5DmKz8cmybURKHcRmQGwFk8JpxaXELMJ","accessToken":"1236656135916175360-H2soRVi94WfbxArDrcshLg9mFiapFh","accessSecret":"lcQQmBSh5E4g0VeWgjFmjslQ4cvPiY2L3pAcHQGUIDR5i"}]
